body, html{
	font-size: 25px;
	font-family: 'Helvetica', sans-serif;
	background-color: #f3f3f3;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	color: #181818;
	
}

body{
	max-width: 1000x; 
}
h1{
	font-family: 'Rokkitt', sans-serif;
	color: #cf8a05;
	font-size: 40px;
	max-width: 350px;
}

h2{
	color: #444444;
	margin-bottom: 0px;
	font-size: 30px;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;	
}

#name {
	float: left;
	width: 500px;
}


#contactDetails {
	float: right;

}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

#personalprofile{
	border-top: solid 2px #cf8a05;
	border-bottom: solid 1px #dedede;
}

#workexperience{

	border-bottom: solid 1px #dedede ;
	
}

#keyskills{
	border-bottom: solid 1px #dedede;
}

#mainArea{

}

.subDetails{
	margin-top: 0px;
	color: #444444;
	font-size: 20px;
}

ul, li{
	list-style: none ;
}

.keySkills{
	margin-left: 10px;
	height: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

}

#foto{
	border-radius: 50%;
}

article{
	margin-left: 15%;
	margin-top: 5px;
}

a{
	text-decoration: none;
	color: #181818;
}

.mainDetails{
	color: #444444;
	margin-bottom: 2%;
}

